# Concept2's copyrighted CSAFE spec, fetched locally for reference — see
# README.md "Reference: the CSAFE spec" for the source URL and how to
# regenerate it. Not redistributed since this repo is public.
docs/csafe-spec.pdf
docs/csafe-spec.txt
